Body {
    background-attachment: fixed;
    background-image: url(./Images/backgound-image.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Victor Mono', monospace;
}

h1 {
    display: table;
    font-size: 80px;
    margin: 40px auto;
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 253, 131, 0.1), rgb(250, 246, 2)) no-repeat right bottom / 0;
    transition: background-size 350ms;
}

h1:where(:hover, :focus-visible) {
  background-size: 100%;
  background-position-x: left;
}

h2 {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 0;
}

.main-search {
    margin-bottom: 40px;
}

.search-area {
    padding-left: 0;
}

.search-bar {
    padding: 10px;
}

.search-bar:focus {
    box-shadow: 0 0 0 0.25rem rgba(250, 246, 2, 0.726);
    border-color: #dee2e6;
}


.results {
    background-color:rgba(255, 255, 255, 0.651);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;    
    border-radius: 20px;
    margin-bottom: 40px;
}

.result-name { 
    padding: 30px;
}

.result-list {
    padding: 0 30px;
    padding-bottom: 30px;
}

.phonetic {
    color: dimgrey;
}

.between-results {
    margin-top: 30px;
}

.result-type {
    display: inline-block;
    background: linear-gradient(0deg, rgba(255, 253, 131, 0.1), rgb(250, 246, 2));
}

.definition {
    font-weight: bold;
}

.synonyms {
    display: inline-block;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(0deg, rgba(255, 253, 131, 0.5), rgb(250, 246, 2)) no-repeat right bottom / 0;
  transition: background-size 350ms;
}

a:where(:hover, :focus-visible) {
  background-size: 100%;
  background-position-x: left;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}